.tag {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 244px;
    max-width: 12.1rem;
    padding: 0.6rem 0.4rem;

    &.blue {
        .icon {
            background-color: rgba(63, 103, 186, 0.15);
        }

        span {
            color: #3F67BA;
        }
    }

    .icon {
        width: 2.6rem;
        height: 2.6rem;
        background-color: rgba(194, 0, 1, 0.15);
        border-radius: 50%;
        @include displayFlexCenter;
        margin-right: 0.8rem;
    }

    span {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 150%;
        color: #C20001;
    }

}

.search {
    background-color: #FFFFFF;
    border-radius: 122px;
    height: 5.6rem;
    max-width: 40.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 0.7rem;

    input[type="text"] {
        border: 0;
        outline: none;
        width: 80%;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 150%;
        color: #A0AFBA;

        &::placeholder {
            color: #A0AFBA;
        }
    }

    button {
        width: 4.2rem;
        height: 4.2rem;
        background: rgba(158, 185, 225, 0.1);
        border: 1px solid #E1E9EF;
        border-radius: 50%;
        transition: border-color .3s;

        &:hover {
            border-color: rgba(62, 117, 195, 1);
        }

        @include displayFlexCenter;
    }
}

.type-filter {
    display: flex;
    align-items: center;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all .3s;

    &:hover{
        filter: grayscale(0%);
        opacity: 1;
    }
    .icon {
        width: 2.8rem;
        height: 2.8rem;
        @include displayFlexCenter;
        margin-right: 0.5rem;

    }

    span {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 150%;
    }

    &.ghost {
        span {
            color: #616EB7;
        }
    }

    &.bug {
        span{
            color:#9BBA48 ;
        }
    }

    &.dark {
        span{
            color: #595761;
        }
    }

    &.dragon {
        span{
            color: #2C6AC1;
        }
    }

    &.eletric {
        span{
            color: rgba(238, 217, 103, 1);
        }
    }

    &.fairy {
        span{
            color: rgba(226, 150, 225, 1);
        }
    }

    &.fighting {
        span{
            color: rgba(196, 77, 97, 1);
        }
    }

    &.ground {
        span{
            color: rgba(206, 128, 86, 1);
        }
    }

    &.ice {
        span{
            color: rgba(139, 206, 193, 1);
        }
    }

    &.normal {
        span{
            color:rgba(160, 162, 159, 1) ;
        }
    }

    &.poison {
        span{
            color: rgba(172, 106, 202, 1);
        }
    }

    &.psychic {
        span{
            color:rgba(235, 139, 133, 1) ;
        }
    }

    &.rock {
        span{
            color:rgba(139, 206, 193, 1) ;
        }
    }

    &.grass {
        span{
            color:rgba(115, 184, 97, 1) ;
        }
    }

    &.steel {
        span{
            color:rgba(101, 148, 161, 1) ;
        }
    }

    &.water {
        span{
            color:rgba(136, 163, 212, 1) ;
        }
    }

    &.fire {
        span{
            color:rgba(246, 109, 109, 1) ;
        }
    }

    &.flying {
        span{
            color: rgba(166, 187, 232, 1);
        }
    }

}

body {

    background-color: black;
}